.sidebar {
  width: 260px;
  min-height: 100vh;
  background: var(--sidebar);
  color: var(--text);
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  border-right: 1px solid var(--border);
  transition: 0.3s;
}

.sidebar-logo {
  margin-bottom: 40px;
}

.sidebar-logo h2 {
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-links a {
  text-decoration: none;
  color: #e2e8f0;
  padding: 14px 16px;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-weight: 500;
}

.sidebar-links a:hover {
  background: rgba(59, 130, 246, 0.15);
  color: #60a5fa;
  transform: translateX(6px);
}

.active-link {
  background: var(--primary);
  color: white !important;
}

.theme-btn {
  width: 100%;
  margin-top: auto;
  margin-bottom: 12px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--primary);
  color: white;
  font-size: 16px;
  transition: .3s;
}

.theme-btn:hover {
  transform: translateY(-2px);
}

.logout-btn {
    margin-top:15px;
    width:100%;
    border:none;
    background:#ef4444;
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    padding:14px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
    font-size:15px;
    font-weight:500;
}

.logout-btn:hover{
    background:#dc2626;
}

.menu-btn{
    display:none;
}

@media (max-width: 900px) {

  .sidebar {
  backdrop-filter: blur(10px);
}

  .menu-btn {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1001;
    background: transparent;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 30px;
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -102%;      /* Hidden */
    width: 101%;
    height: 100vh;
    z-index: 1000;
    transition: left .3s ease;
  }

  .show-sidebar {
    left: 0;          /* Slides in */
  }
}